# build outputs
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# vite
.vite

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.*.local

# Log files
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
